body{
    background-image: url(./05kohli-bats.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}
.main{
    margin-top: 10%!important;
    margin-bottom: 8%!important;
}

#box{
 
  height:100px;
  width:250px;
  border:2px solid black;
  margin:2px;

}